parameters:
    level: 8
    paths:
        - src
    checkMissingIterableValueType: false
    excludePaths:
        - src/SprykerEco/Zed/Easycredit/Persistence/Propel
        - src/SprykerEco/Yves/Easycredit/Form/Constraint
