parameters:
    level: 7
    paths:
        - src
    bootstrapFiles:
        - tests/bootstrap.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
    excludePaths:
        - src/SprykerEco/Zed/Easycredit/Persistence/Propel
        - src/SprykerEco/Yves/Easycredit/Form/Constraint
        - tests/*
