<div class="payment-method payment-subform easy-credit-form easy-credit-installments-form payment-form" id="easyCreditInstallments">
    <div class="easycredit small-12 columns">
        EASYCREDIT DIRECT INTEGRATION
    </div>
</div>