{% extends model('component') %}

{% define config = {
    name: 'easycredit-badge',
    tag: 'easycredit-badge'
} %}

{% define data = {
    title: null,
    id: required
} %}

{% define attributes = {
    'easycredit-options': required
} %}

{% block body %}
    {% include molecule('script-loader') with {
        class: config.jsName ~ '__script-loader',
        attributes: {
            src: 'https://ratenkauf.easycredit.de/ratenkauf/js/ratenrechner/v1/ratenrechner.js'
        }
    } only %}
    <div id="{{ data.id }}" class="{{ config.jsName }}__content"></div>
{% endblock %}
